# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env/
pip-log.txt

# Django
*.log
db.sqlite3
media/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# System
.DS_Store
Thumbs.db 