# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Docker
docker-compose.prod.yml

# Environment variables
.env
.env.prod

# IDE
.idea/
.vscode/
*.swp
*.swo

# System
.DS_Store
Thumbs.db 